<div id="hero" class="min-h-28 bg-gradient-to-b from-pink-400 via-blue-400 to-white flex flex-col items-center text-center px-4 py-10">
    <h2 class="text-white text-3xl md:text-4xl text-titles text-center mb-8">BAWLERS REPRODUCTION STUDIOS</h2>

        <!-- Top Cards -->
    <div class="flex justify-between w-full max-w-4xl px-4">
        <img src="assets/imgs/meme_card_1.webp" class="w-24 md:w-32 rounded-xl shadow-lg transform -rotate-6" />
        <img src="assets/imgs/meme_card_2.webp" class="w-24 md:w-32 rounded-xl shadow-lg transform rotate-6" />
    </div>

    <!-- Central Image -->
    <img src="assets/imgs/meme_kick.webp" alt="BAWLS kicking BAWLS" loading="eager" class="w-40 md:w-56 mb-6" />

    <!-- Welcome Text -->
    <h2 class="text-2xl md:text-3xl text-subtitles font-bold mb-4">
        Welcome, Bawler! This is your creative space
    </h2>

    <!-- Description -->
    <p class="max-w-xl text-body-semibold text-gray-800 md:text-lg ">
        Explore videos made by fellow Bawlers, stay up-to-date with our community news, and enjoy the collective talent in our creations section. Discover everything that Bawlers have to offer!
    </p>

    <!-- Bottom Cards -->
    <div class="flex justify-between w-full max-w-4xl px-4">
        <img src="assets/imgs/meme_card_3.webp" class="w-24 md:w-32 rounded-xl shadow-lg transform rotate-6" />
        <img src="assets/imgs/meme_card_4.webp" class="w-24 md:w-32 rounded-xl shadow-lg transform -rotate-6" />
    </div>
</div>