.button-social{
    background: rgb(253,196,255);
    background: -moz-linear-gradient(180deg, rgba(253,196,255,1) 0%, rgba(250,122,202,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(253,196,255,1) 0%, rgba(250,122,202,1) 100%);
    background: linear-gradient(180deg, rgba(253,196,255,1) 0%, rgba(250,122,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdc4ff",endColorstr="#fa7aca",GradientType=1);
}

.button-actions {
    background: rgba(68,191,249,0.7);
    background: -moz-linear-gradient(180deg, rgba(68,191,249,0.7) 0%, rgba(250,122,202,0.7) 100%);
    background: -webkit-linear-gradient(180deg, rgba(68,191,249,0.7) 0%, rgba(250,122,202,0.7) 100%);
    background: linear-gradient(180deg, rgba(68,191,249,0.7) 0%, rgba(250,122,202,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#44bff9",endColorstr="#fa7aca",GradientType=1);
}

.animate-ping-once {
    animation: ping 0.5s cubic-bezier(0, 0, 0.2, 1);
}
 
@keyframes ping {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}