.bg-faq{
    background: rgb(248,123,203);
    background: -moz-linear-gradient(180deg, rgba(248,123,203,1) 0%, rgba(174,118,212,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(248,123,203,1) 0%, rgba(174,118,212,1) 100%);
    background: linear-gradient(180deg, rgba(248,123,203,1) 0%, rgba(174,118,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f87bcb",endColorstr="#ae76d4",GradientType=1);
}