<div>
    <app-navbar [menuItems]="menuItems"/>

    <app-hero/>

    <app-about-us/>
     
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 120" class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
        <path fill="#44bff9" d="M0,60 C150,120 300,0 450,60 S750,0 900,60 S1050,0 1200,60 S1350,0 1440,60 L1440,120 L0,120 Z" />
    </svg>

    <app-bawls-cause/>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 120" class="bg-[#44bff9] ">
        <path fill="#fa7aca" d="M0,60 C150,120 300,0 450,60 S750,0 900,60 S1050,0 1200,60 S1350,0 1440,60 L1440,120 L0,120 Z" />
    </svg>
    

    <app-tokenomics/>

    <app-meme-hub/>

    <app-faq/>

    <app-marquee [tags]="tags"/>

    <app-rwi/>

    <app-bawls-list/>

    <app-footer [links]="linksFooter"/>
</div>