<div id="memes" class="bg-blue-faq pt-6">

    <!-- Carousel content -->
    <div class="flex flex-col pb-4">
        <div class="flex flex-col justify-center items-center gap-2">
            <h2 class="text-black text-3xl md:text-4xl text-titles text-center ">TRENDING MEMES</h2>
            <p class="max-w-xl text-body-semibold text-gray-800 md:text-lg text-center">
            Take a look on the hotest BAWLS of the moment
            </p>
        </div>
    </div>

    <app-photo-carousel indicator="fraction" [slides]="images"/>
</div>