<section id="podcasts" class="bg-blue-faq">
    <div class="bg-white mx-12 rounded-xl" >
        <div class="flex flex-col justify-center items-center gap-4">
            <h2 class="text-black text-3xl md:text-4xl text-titles text-center pt-4 ">BAWLVERSE CREATIONS</h2>
            <p class="max-w-xl text-body-semibold text-gray-800 md:text-lg text-center">
                Let your ears feel the BAWLS
            </p>
        </div>
        

        <div class="p-4 xl:py-6">
            <app-audio-player [playlist]="audios"/>
        </div>

    </div>

</section>
