<section id="impact" class="bg-rwi w-full px-4 sm:px-6 py-8 flex flex-col items-center gap-4">
    <div class="flex flex-col">
        <!-- Title -->
        <h2 class="text-white text-4xl md:text-5xl text-subtitles text-center">
            Real World Impact (RWI)
        </h2>

        <p class="text-white text-body-bold text-justify md:text-center text-lg md:text-xl mt-6 md:mt-10 leading-relaxed">
            BAWLS is more than crypto. We want to create a Real World Impact in conjuction with these communities.
        </p>

    </div>
    
    <div class="container  ">
        <app-carousel
            [members]="members"
        />
    </div> 

    <app-button 
        routerLink="rwi"
        placeholder="Meet our coalition partners!" 
        type="actions" 
        styles="tracking-widest text-body-semibold uppercase leading-6 bg-opacity-70 !text-2xl !rounded-xl"
    />

    <app-button 
        URL="https://www.prevailshop.com/collections/bawls-onu-token" 
        placeholder="BAWLS Merch!" 
        type="actions" 
        styles="tracking-widest text-body-semibold uppercase leading-6 bg-opacity-70 !text-2xl !rounded-xl"
    />

    
    
    
</section>
