.bg-rwi{
    background: rgb(174,118,212);
    background: -moz-linear-gradient(180deg, rgba(174,118,212,1) 0%, rgba(72,113,225,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(174,118,212,1) 0%, rgba(72,113,225,1) 100%);
    background: linear-gradient(180deg, rgba(174,118,212,1) 0%, rgba(72,113,225,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ae76d4",endColorstr="#4871e1",GradientType=1);
}