<div class="staking-container">
  <app-stake-info class="stake-info-panel flex-1" 
    [walletAddress]="walletAddress"
    [stakeAmount]="stakeAmount"
    [userStake]="userStake"
    [rewards]="rewards"
    [badgeLevel]="badgeLevel"
    [rewardChanged]="rewardChanged"
    [daysStaked]="daysStaked"
    [countdown]="countdown"
    [isCountdownUrgent]="isCountdownUrgent"
    [stake]="stake"
    [unstake]="unstake"
    [claim]="claim"
    [connectWallet]="connectWallet"
    [disconnectWallet]="disconnectWallet"
  ></app-stake-info>

  <div class="right-section" *ngIf="!isMobile || showLeaderboard">
     <app-leaderboard></app-leaderboard>
     <app-history></app-history>
  </div>

  <button *ngIf="isMobile" class="leaderboard-toggle" (click)="toggleLeaderboard()">
    {{ showLeaderboard ? 'Hide' : 'Show' }} Leaderboard 🏆
  </button>

  <!-- <div class="wallet-button-container">
    <ng-container *ngIf="walletAddress; else connectBlock">
      <button class="wallet-address-btn" (click)="disconnectWallet()">
        <img src="assets/imgs/wallet-connect.png" alt="Connect Wallet" class="phantom-icon" />
        {{ walletAddress | slice:0:6 }}...{{ walletAddress | slice:-4 }}
      </button>
    </ng-container>

    <ng-template #connectBlock>
      <button class="wallet-connect-btn" (click)="connectWallet()">
        <img src="assets/imgs/wallet-connect.png" alt="Connect Wallet" class="phantom-icon" />
        Connect Wallet
      </button>
    </ng-template>
  </div> -->

</div>
