.stake-layout {
  // max-width: 1200px;
  padding: 0 1rem;
}

.stake-inner-container {
  z-index: 1;
}

.mascot-image {
  height: 520px;
  transform: translate(-60px, 100px);
  object-fit: contain;
  z-index: 1;
  pointer-events: none;
}

svg {
  z-index: 20;
  position: relative;
}


.footer {
  width: 100%;
  background-color: #FF82D0;
  margin-top: auto;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 0;

  .footer-floating-image {
    position: relative;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%);
    height: 400px; 
    object-fit: contain;
    z-index: 10;
    pointer-events: none;
  }

  .footer-content {
    background-color: white;
    max-width: none;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;

    .img{
      padding-left: 50px;
    }
  }
}