.bg-section{
    background: rgb(73,113,225);
    background: -moz-linear-gradient(180deg, rgba(73,113,225,1) 0%, rgba(18,111,232,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(73,113,225,1) 0%, rgba(18,111,232,1) 100%);
    background: linear-gradient(180deg, rgba(73,113,225,1) 0%, rgba(18,111,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4971e1",endColorstr="#126fe8",GradientType=1);
}

